{{ include('./shared/header.twig') }}
{{ include('./shared/nav.twig') }}
<main role="main" class="container flex-shrink-0">
    
    <p>Digital advertisements are critical tools for a business 
        to create revenue.<br>
        But let's face it: </p>
        <h5>People don't want to see ads</h5>
        <p>In fact, our potential clients are starting to build a fortress
        around ads. So what do we do? Here at Gooberton Marketing we 
        utilize top marketing mindsets that look into what only the most 
        current marketing technology has to offer. Our goal is to create 
        incentive for viewers while keeping things fair between all players.<br> 
        <br>Advertisers, publishers, and users should all be able to benefit 
        from modern advertising. 
        <br>We at Gooberton Marketing have accomplished just that through 
        cryptotechnology.</p>
        
    <div class="card">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p class="little-text">Introducing the future of advertising - kittycoin (KTC)
        <br>Reinventing marketing outreach</p>
        
        </blockquote>
    </div>
    </div>
    <a href=".?action=Show How It Works"><img src="images/coin.png" 
        alt="kittycoin token" id="ktc" class="ktc rounded-circle"></a>
        
</main>
{{ include('./shared/footer.twig') }}
</body>
</html>