{{ include('./shared/header.twig') }}
{{ include('./shared/nav.twig') }}
<main role="main" class="container flex-shrink-0">
    
    <h5 class="center">Digital advertising is dated<br>
    Here's how kittycoin (KTC) aims to revive it</h5>
    
    <p>KTC serves as a unit of exchange between advertisers, publishers,
        and a reward system for users viewing ads. Rather than bombard
        the user with ads, we offer the option of payment in KTC in exchange
        for their valuable time.
        <br>This removes the obstacle of the ad-blocker.
    
    <img src="images/model.jpg" alt="The kittycoin process model" 
         id="model" class="rounded-top">
    
    <p>As more people view ads, KTC becomes more valuable.<br>
        This propels us to work hard for you as we exchange KTC with
        publishers.<br>
        By incentivizing users to watch your advertisements, you receive a 
        larger, more dedicated, audience and stronger returns and metrics.
    <h6><a href=".?action=Show Registration" class="center nav-link">Register Today!</a></h6>
    
</main>
{{ include('./shared/footer.twig') }}
</body>
</html>